* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Space Mono", monospace;
  max-width: 100vw;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0px auto;
  -moz-box-flex: 1;
  width: 100%;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
h2 {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
div {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}

.section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Utilities */

/*HEADER (Katia)*/
.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
}
.container_header {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo img {
  height: 52px;
  width: auto;
  cursor: pointer;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  font-family: "Work Sans", sans-serif;
}

.header-right {
  float: right;
}
.header-right a:hover {
  border-bottom: 3px #4a50bb solid;
}
.header-right button {
  border: 1px solid #4a50bb;
  font-weight: 500;
  outline: none;
  background: #4a50bb;
  color: #fff;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* BEGIN RESULT PART */

.ourResult {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  position: relative;
  box-shadow: none;
  background: rgb (0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}

.resultLayout {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.resultBox {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0, 0.08) 0px 0px 53px;
  padding: 50px;
  margin-bottom: 50px;
}

.resultInfo {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  margin: 0px 0px 50px;
}

.title {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans Bold", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.titleDefinition {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 800px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.tableResult {
  display: flex;
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.columnOfTable {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 80, 187);
  width: 30%;
  padding: 20px;
}

.cTitle {
  font-size: 26px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans Bold", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}

.cParag {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/* successes story */
.suc-sto {
  background-color: rgba(211, 211, 211, 0.322);
  width: 1390px;
  height: 450px;
  border: 0px solid black;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 26px;
  padding-right: 32px;
  margin: 20px;
}

.container {
  width: 100%;
  max-width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 53px;
  padding: 50px;
  margin-top: -35%;
  margin-bottom: 3%;
  margin-left: -7%;
  margin-right: 7%;
  font-size: 0%;
}

.demo {
  text-align: center;
  color: blue;
  font-size: 24px;
  font-style: uppercase;
  margin-top: 20%;
}

.pic {
  width: 250px;
  height: 255px;
  margin: 100px;
  float: left;
  margin: auto auto 20px;
  background-position: center center;
  filter: grayscale(100%);
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  border-radius: 50%;
  margin-right: 3%;
}

.name {
  color: blue;
  margin-left: 25%;
  margin-right: 9%;
  font-size: 18px;
  margin-top: 6%;
}

.pos {
  margin-left: 25%;
  margin-right: 9%;
}

.bio {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 9%;
  margin-bottom: 2%;
}

.demo {
  text-align: center;
  color: rgba(39, 39, 219, 0.911);
  margin-top: 3%;
}

.pic2 {
  width: 250px;
  height: 250px;
  margin: 100px;
  float: left;
  margin: auto auto 20px;
  background-position: center center;
  filter: grayscale(100%);
  float: left;
  margin-top: -18%;
  margin-left: 43%;
  border-radius: 50%;
  margin-bottom: 0%;
  border-radius: 50%;
}

.name2 {
  color: blue;
  margin-left: 0%;
  margin-left: 70%;
  font-size: 18px;
  margin-top: -21%;
}

.pos2 {
  margin-left: 70%;
  margin-right: 9%;
}

.bio2 {
  margin-top: 2%;
  margin-left: 70%;
  margin-right: 9%;
}

/*END RESULT PART */
